<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Computer Vision fun!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
</head>

<body>
  <section class="hero is-sucess is-medium is-primary is-bold" style="box-shadow: 15px 15px 5px -12px #888888;">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          ComputerVisionfun
        </h1>
        <p class="subtitle">
          <br> ComputerVisionfun is Some Experiments with Opencv Library with webcam just For sake of
          <strong> Fun</strong>!
          <br> Code can be found
          <a href="https://github.com/Aniket965/ComputerVisionfun">here</a>
        </p>
      </div>
    </div>
  </section>
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <a href="{{url_for('livesketch')}}"> <img src="https://maxcdn.icons8.com/Share/icon/Media_Controls//circled_play1600.png" alt="play" ></a>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Live Sketch</p>
          <p class="subtitle is-6">@aniket965</p>
      
        </div>
    
      </div>

      <div class="content">
        Live sketch using webcam including bluring, grayscaling and canny edge detection functions
        <a href="https://github.com/opencv/opencv/">@opencv</a>.
        <br>
      </div> 
    </div>
  </div>
  


</body>

</html>